@use "../../style/variables";
@use "../../style/mixin" as *;

#btnContact {
  width: 400px;
  margin: 15px auto;
  grid-column: 2 span;
  background: variables.$bg-btn;
  border-radius: 20px;
  outline: 0;
  padding: 1.2rem 3rem;
  font-size: 1em;
  cursor: pointer;
  transition: 0.25s ease;

  a {
    text-decoration: none;
    color: variables.$white;
    font-weight: bold;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px solid rgb(255, 255, 255);
    transform: translate(-5px, -5px);
    transition: 0.25s ease;
  }

  &:hover {
    transform: translate(-5px, -5px);

    &::before {
      transform: translate(5px, 5px);
    }
  }
}

#main {
  padding: 20px 15px 0px 15px;
  color: variables.$white;
  grid-template-columns: 82% 18%;
  grid-template-rows: 42% 42% 100px;

  .main__img {
    @include border;
  }

  .info {
    h1 {
      font-size: 4em;
      letter-spacing: 0.4rem;
      font-style: italic;
    }
    .info__span {
      letter-spacing: 1px;
      font-size: 20px;
      margin: 0 0 10px 30px;
      width: 80%;
    }
  }
  ul {
    list-style-type: none;
    font-size: 25px;
    margin: auto;
    li {
      margin-bottom: 10px;
      .elephant {
        width: 35px;
        height: 35px;
        margin-right: 10px;
      }
    }
  }

  .img1 {
    width: 300px;
    height: 550px;
  }
  .img2 {
    width: 400px;
    height: 400px;
    margin-left: 20px;
  }
}
