@use "../../style/variables";

#About {
  .oMnie {
    div {
      max-width: 80%;
      h1 {
        font-size: 80px;
      }
      p {
        font-size: 25px;
      }
    }
  }
  .div__me__img {
    height: 650px;
    .me {
      width: 300px;
      height: 500px;
      -webkit-box-shadow: 7px 8px 18px -2px rgb(223, 223, 223);
      -moz-box-shadow: 7px 8px 18px -2px rgb(223, 223, 223);
      box-shadow: 7px 8px 18px -2px rgb(223, 223, 223);
      transition: top 0.5s ease, left 0.5s ease, z-index 0s 0.2s;
    }
    .me_img {
      transform: translate(0%, -20%);
      height: 140%;
    }

    .one {
      top: 0;
      left: 0;
    }
    .two {
      top: 100px;
      left: 100px;
    }
    #me__arrow {
      right: 0px;
      margin-right: 10px;
      top: 0px;
      width: 55px;
      img {
        filter: invert(1);
      }
    }
  }
}
