@use "../../style/variables";

header {
  color: variables.$white;

  .logo__name {
    width: auto;
    #logo {
      width: 100px;
      margin: 3px;
    }
    h1 {
      font-size: 30px;

      margin-left: 10px;
    }
    #Kenia {
      width: 55px;
      margin-left: 10px;
    }
    .website {
      color: variables.$white;
      text-decoration: none;
    }
  }
}
