@media (max-width: 1700px) {
  #main {
    grid-template-columns: 80% 20% !important;
  }
}
@media (max-width: 1545px) {
  #main {
    grid-template-columns: 78% 22% !important;
  }
}
@media (max-width: 1410px) {
  #main {
    grid-template-columns: 76% 24% !important;
  }
}
@media (max-width: 1300px) {
  #main {
    grid-template-columns: 74% 26% !important;
  }
}
@media (max-width: 1200px) {
  #main {
    grid-template-columns: 72% 28% !important;
  }
}
