$header-bgc: #221001;
$white: white;
$black: black;
$primary-color: #fc7001;

$sb-track-color: #dadada;
$sb-thumb-color: #c77800;
$sb-size: 10px;
$bg-btn: linear-gradient(220.55deg, #fadd76 0%, #9f3311 100%);
