#Gallery {
  .gallery {
    max-height: 1200px;
    .gallery__ul {
      -webkit-box-shadow: inset 0px 0px 26px 0px rgba(0, 0, 0, 1);
      -moz-box-shadow: inset 0px 0px 26px 0px rgba(0, 0, 0, 1);
      box-shadow: inset 0px 0px 26px 0px rgba(0, 0, 0, 1);
      .gallery__item {
        max-height: 235px;
        max-width: 320px;
        transition: transform 0.3s;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}

.popup {
  animation: fadeIn 0.3s;
  backdrop-filter: blur(10px);
  &.hidden {
    display: none;
  }
  &.fade-out {
    animation: fadeOut 0.3s both;
  }
  &__img {
    max-height: 80%;
    max-width: 80%;
  }
  &__close {
    &:hover {
      opacity: 1;
    }
  }

  &__arrow {
    &:hover {
      opacity: 1;
    }
  }
  &__arrow--left {
    transform: rotate(180deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
