@use "../../style/variables";

nav {
  font-size: 1.4rem;
  width: 50%;
  .nav__link {
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease-in-out;
  }
  .nav__link:hover {
    border-color: variables.$white;
  }
}
.button__nav {
  display: none;
  .line {
    width: 35px;
    height: 5px;
  }
}
