@use "../../style/variables";

nav {
  padding: 5px;
  font-size: 1.4rem;
  width: 50%;
  margin-right: 10px;
}
.nav__a {
  margin: 10px;
  font-weight: bold;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease-in-out;
}
.nav__a:hover {
  border-color: variables.$white;
}
